footer
{
    color: white;
    height: 60px;
    width: 100%;
    border-top:solid 1px #CCCCCC;
    position: relative;
    bottom: 0;
}
span{
    font-weight: bold;
    font-size: 18px;
    color: black;
    margin: 0;
    position:relative;
    top:37%;
    left:50%;
    transform:translate(-50%,-50%)
}