.popover{
    display: none;
}

h4{
    color: rgb(86, 86, 86);
    margin: 7px;
}

.location:hover .popover{
    text-align: center;
    background-color: #fafafa;
    margin-top: 11px;
    display:list-item;
    border: solid 1px #DDDDDD;
}

.ameneties:hover .popover{
    text-align: center;
    background-color: #fafafa;
    margin-top: 11px;
    display:list-item;
    border: solid 1px #DDDDDD;
    text-align: justify;
}