/* .body{
    margin: 0;
    padding: 0;
} */
/* .header{
    background-color: red;
    height: 70px;
    width: 100%;
}

.content{
    height: 470px;
}

.footer{
    background-color: green;
    height: 60px;
    width: 100%;
} */